<h1 style="font-size: 2em; text-align: center; font-weight: bold; color: white" *ngIf="estaLogueado()">
  Bienvenido a mi crud hecho en angular
</h1>
<h1 style="font-size: 2em; text-align: center; font-weight: bold; color: white" *ngIf="estaLogueado()">
  Ve a la página agentes si quieres ver los agentes registrado
</h1>
<h1 style="font-size: 2em; text-align: center; font-weight: bold; color: white" *ngIf="!estaLogueado()">
  Deberás iniciar sesión para usar las demás páginas
</h1>

<img src="assets/gif1.gif" style="width: 20%; height: 40%;">
<img src="assets/gif2.gif" style="width: 20%; height: 50%; margin-left: 850px;">
